# Curso de Python do Zero ao DS - Meigarom - Seja um Data Scientist

## Agenda

* 1.0 - O Problema do negócio
  * 1.1 - A Empresa: House Rocket
  * 1.2 - As perguntas do contratante (CEO)
* 2.0 - Planejamento da solução
  * 2.1 - Planejamento do produto final
  * 2.2 - Planejamento das ferramentas
  * 2.3 - Planejamento do processo
* 3.0 - Comandos para resolver o problema
  * 3.1 Analogia Produção de bolo x Produção de programa
  * 3.2 Tradução de Comandos para a linguagem utilizada (Python)
* 4.0 - Solução
* 5.0 - Entrega

# 1.0 - O Problema do negócio

## 1.1 - A Empresa: House Rocket
* O que faz? 
    * Plataforma de compras e vendas de imóveis.
* Qual é o problema? 
    * O CEO da empresa gostaria de maximizar os lucros encontrando bons negócios.
* Qual é a principal estratégia?
    * Fontes externas para encontrar bons negócios.

## 1.2 - As perguntas do contratante (CEO):
1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casa possuem? ( nº de quartos, nº de garagens, m², ... )
3. Quais são os atributos?
4. Qual a casa mais cara do portfólio ( casa com maior valor )?
5. Qual a casa com o maior número de quartos?

# 2.0 - Planejamento da solução

## 2.1 - Planejamento do produto final

* O que eu vou entregar? ( Planilha, Texto, Email, Modelos de ML, ... )
    * R: Texto com as respostas.
* Como vai ser a entrega?
    * R: Perguntas | Respostas
    * Exemplo:
        1. Quantas casas estão disponíveis para compra?
        * 2300 imóveis disponíveis para compra

## 2.2 - Planejamento das ferramentas
 
Quais ferramentas usar?
* Excel
    - Fácil de usar;
    - Barato;
    - Muito usado pelos times não técnicos;
    - Poder de processamento limitado ( ~1 Milhão de células ).
* Linguagem de programação
    - Desenvolida para criar software.
    - Processar e Manipular -> *Insights*;
    - Escalável;
    - Modularização.
## 2.3 - Planejamento do processo

### 2.3.1 - Perguntas do planejamento

| #  | Pergunta | Resposta |
|:--:|:-- |:-- |
| 1  | Onde está a informação? ( Excel, BD, API, manual ) | [Kaggle-HouseSalesPrediction](https://www.kaggle.com/harlfoxem/housesalesprediction)|
| 2  | Como coletar essas informações? (SQL, Python, Streamlit, ...) | Download |


### 2.3.2 - Responder as perguntas do contratante (CEO)

|# | Pergunta | Resposta |
|:--:|:-- |:--|
|1| Quantas casas estão disponíveis para compra? | Contar o número de linhas do conjunto de dados|
|2| Quantos atributos as casas possuem? | Contar o número de colunas do conjunto de dados|
|3| Quais são os atributos das casas? | Mostrar o nome das colunas ( automática )|
|4| Qual a casa mais cara ( casa com o maior valor de venda )? | Ordenar as linhas pela coluna de preco ( atributos )|
|5| Qual a casa com o maior número de quartos? | Filtrar pelo atributo 'Numero_de_quartos' de forma decrescente |
|6| Qual a soma total de quartos do conjunto de dados? | Somar o atributo 'Qtd de quartos' para todos os imóveis|
|7| Quantas casas possuem 2 banheiros? | Filtrar somente imóveis com 2 banheiros e somar a quantidade de imóveis listados|
|8| Qual o preço médio de todas as casas no conjunto de dados? | Somar o atributo 'Preço' de todos os imóveis e dividir pela quantidade de imóveis (1)|
|9| Qual o preço médio de casas com 2 banheiros? | Item (7) Filtrar imóveis com 2 banheiros e aplicar a média no atributo 'Preço'|
|10| Qual o preço mínimo entre as casas com 3 quartos? | Filtrar imóveis com 3 quartos e ordenar de forma crescente, o primeiro valor é o preço mínimo|
|11| Quantas casas possuem mais de 300 m² na sala de estar? | Filtrar pelo atriburo 'metro_quadrado_sala_de_estar' imóveis com tamanho superior a 300 m², contar itens listados|
|12| Quantas casas tem mais de 2 andares? | Filtrar pelo atriburo 'Quantidade_de_andares' os imóveis com valor >= 2, somar itens listados|
|13| Quantas casas tem vista para o mar? | Filtrar pelo atributo 'Vista_mar' e somar itens listados|
|14| Das casas com vista para o mar, quantas tem 3 quartos? | Com o filtro da Pergunta (13), filtrar pelo atributo 'Qtd_quartos' e somar itens listados|
|15| Das casas com mais de 300 m² de sala de estar, quantas tem mais de 2 banheiros? | Com o filtro da Pergunta(11), filtrar o atributo 'Qtd_banheiros' >= 2 e somar itens listados|

# 3.0 - Comandos para resolver o problema

## 3.1 Analogia Produção de bolo x Produção de programa

### Produção de bolo
1. Livro de Receita **Organiza** Receita.
2. Receita **Replica** Modo de Preparo.
3. Modo de Preparo **Manipula** Ingredientes.

### Produção de programa
1. Biblioteca **Organiza** Funções.
2. Funções **Replica** Comandos.
3. Comandos **Manipula** Variáveis.

## 3.2 Tradução de Comandos para a linguagem utilizada (Python)

|# | Pergunta | Resposta | Comando (Python) | 
|:--:|:-- |:--|:--|
|1| Quantas casas estão disponíveis para compra? | Contar o número de linhas do conjunto de dados| dados.shape |
|2| Quantos atributos as casas possuem? | Contar o número de colunas do conjunto de dados| dados.shape | 
|3| Quais são os atributos das casas? | Mostrar o nome das colunas ( automática )| dados.columns |
|4| Qual a casa mais cara ( casa com o maior valor de venda )? | Ordenar as linhas pela coluna de preco ( atributos )| dados[['id','price']].sort_values('price', ascending=False) |
|5| Qual a casa com o maior número de quartos? | Filtrar pelo atributo 'Numero_de_quartos' de forma decrescente | dados[['id','bedrooms']].sort_values('bedrooms', ascending=False) |
|6| Qual a soma total de quartos do conjunto de dados? | Somar o atributo 'Qtd de quartos' para todos os imóveis| dados[['bedrooms']].sum() |
|7| Quantas casas possuem 2 banheiros? | Filtrar somente imóveis com 2 banheiros e somar a quantidade de imóveis listados| dados[['bathrooms']].loc[dados.bathrooms==2].count() |
|8| Qual o preço médio de todas as casas no conjunto de dados? | Somar o atributo 'Preço' de todos os imóveis e dividir pela quantidade de imóveis (1)| dados[['price']].mean() |
|9| Qual o preço médio de casas com 2 banheiros? | Item (7) Filtrar imóveis com 2 banheiros e aplicar a média no atributo 'Preço'| dados[['price']].loc[dados.bathrooms==2].mean() |
|10| Qual o preço mínimo entre as casas com 3 quartos? | Filtrar imóveis com 3 quartos e ordenar de forma crescente, o primeiro valor é o preço mínimo| dados[['id','price']].loc[dados.bedrooms==3].min() |
|11| Quantas casas possuem mais de 300 m² na sala de estar? | Filtrar pelo atriburo 'metro_quadrado_sala_de_estar' imóveis com tamanho superior a 300 m², contar itens listados| dados[['id','sqft_living','price']].loc[dados.sqft_living>3229.17].count() |
|12| Quantas casas tem mais de 2 andares? | Filtrar pelo atriburo 'Quantidade_de_andares' os imóveis com valor >= 2, somar itens listados| dados[['floors']].loc[dados.floors>2].count() |
|13| Quantas casas tem vista para o mar? | Filtrar pelo atributo 'Vista_mar' e somar itens listados| dados[['waterfront']].loc[dados.waterfront==1].count() |
|14| Das casas com vista para o mar, quantas tem 3 quartos? | Com o filtro da Pergunta (13), filtrar pelo atributo 'Qtd_quartos' e somar itens listados| dados[['waterfront']].loc[dados.waterfront==1].loc[dados.bedrooms==3].count() |
|15| Das casas com mais de 300 m² de sala de estar, quantas tem mais de 2 banheiros? | Com o filtro da Pergunta(11), filtrar o atributo 'Qtd_banheiros' >= 2 e somar itens listados| dados[['sqft_living']].loc[dados.sqft_living>3229.17].loc[dados.bathrooms>2].count() |

# 4.0 - Solução

In [1]:
# Importando bibliotecas
import pandas as pd

In [23]:
# Carregando arquivo de dados
dados = pd.read_csv('datasets/kc_house_data.csv')

In [3]:
dados.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
# P1: Quantas casas estão disponíveis para compra?
# Comando:  Contar o número de linhas do conjunto de dados

# P2: Quantos atributos as casas possuem?
# Comando: Contar o número de colunas do conjunto de dados

# Mostra o número de (linhas, colunas)
dados.shape

# R1:   Estão disponíveis 21613 casas para venda.
# R2:   As casas possuem 19 atributos. 
#       Total de colunas descontados 'id' e 'date'.

(21613, 21)

In [7]:
# P3: Quais são os atributos das casas?
# Comando: Mostrar o nome das colunas ( automática )

dados.columns

# R3:   Os atributos das casas são:
#       Preço, Quartos, Banheiros, Área Construída, 
#       Área do terreno, Pavimentos, Beira-mar, Vista, 
#       Condição, Nota, Subsolo, Área de porão,
#       Ano de construção, Ano de reforma,
#       Código postal, Latitude, Longitude,
#       Área construída dos 15 vizinhos mais próximos, 
#       Área do terreno dos 15 vizinhos mais próximos.

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [11]:
# P4: Qual a casa mais cara ( casa com o maior valor de venda )?
# Comando: Ordenar as linhas pela coluna de preco ( atributos )

dados[['id','price']].sort_values('price', ascending=False)

# R4:   A casa mais cara possui a 
#       identificação '6762700020' e 
#       custa U$ 7700000.00

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

In [14]:
# P5:   Qual a casa com o maior número de quartos? 
# Comando:  Filtrar pelo atributo 'Numero_de_quartos' de forma decrescente

dados[['id','bedrooms']].sort_values('bedrooms', ascending=False)

# R5:   O imóvel com o maior número de quartos é o de 
#       identificação 2402100895 com um total de 
#       33 quartos.

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

In [18]:
# P6: Qual a soma total de quartos do conjunto de dados?
# Comando:  Somar o atributo 'Qtd de quartos' para todos os imóveis

dados[['bedrooms']].sum()

# R6:   A soma total de quartos para o conjunto de dados é de
#       72854 quartos.

bedrooms    72854
dtype: int64

In [29]:
# P7: Quantas casas possuem 2 banheiros?
# Comando: Filtrar somente imóveis com 2 banheiros e somar a quantidade de imóveis listados

dados[['bathrooms']].loc[dados.bathrooms==2].count()

# R7: A quantidade de imóveis com 2 banheiros é de 1930 unidades.

bathrooms    1930
dtype: int64

In [30]:
# P8: Qual o preço médio de todas as casas no conjunto de dados?
# Comando: Somar o atributo 'Preço' de todos os imóveis e dividir 
# pela quantidade de imóveis (1)

dados[['price']].mean()

# R8:   O preço médio de todos os imóveis do conjunto de dados 
#       é de U$ 540088.14

price    540088.141767
dtype: float64

In [31]:
# P9:  Qual o preço médio de casas com 2 banheiros? 
# Comando: Item (7) Filtrar imóveis com 2 banheiros e aplicar a média no atributo 'Preço'

dados[['price']].loc[dados.bathrooms==2].mean()

# R9:   O preço médio de casas com 2 banheiros é de U$ 457889.72

price    457889.718653
dtype: float64

In [35]:
# P10: Qual o preço mínimo entre as casas com 3 quartos?
# Comando: Filtrar imóveis com 3 quartos e ordenar de forma crescente, o primeiro valor é o preço mínimo

dados[['id','price']].loc[dados.bedrooms==3].min()

# R10:  O menor preço de um imóvel com 3 quartos é de 
#       U$ 82000.00 para a unidade de id 1200021.

id       1200021.0
price      82000.0
dtype: float64

In [42]:
# P11: Quantas casas possuem mais de 300 m² na sala de estar?
# Comando: Filtrar pelo atriburo 'metro_quadrado_sala_de_estar' imóveis com tamanho superior a 300 m², contar itens listados

dados[['id','sqft_living','price']].loc[dados.sqft_living>3229.17].count()

# R11:  Imóveis com mais de 300m² ou 3229,17 squared feet de 
#       área construída totalizam 2258 unidades.

id             2258
sqft_living    2258
price          2258
dtype: int64

In [47]:
# P12: Quantas casas tem mais de 2 andares? 
# Comando: Filtrar pelo atriburo 'Quantidade_de_andares' os imóveis com valor >= 2, somar itens listados

dados[['floors']].loc[dados.floors>2].count()

# R12:  O número de imóveis com mais do que dois pavimentos 
#       é de 782 unidades.

floors    782
dtype: int64

In [50]:
# P13: Quantas casas tem vista para o mar?
# Comando: Filtrar pelo atributo 'Vista_mar' e somar itens listados

dados[['waterfront']].loc[dados.waterfront==1].count()

# R13: 163 imóveis com vista para o mar.

waterfront    163
dtype: int64

In [55]:
# P14: Das casas com vista para o mar, quantas tem 3 quartos?
# Comando: Com o filtro da Pergunta (13), filtrar pelo atributo 'Qtd_quartos' e somar itens listados

dados[['waterfront']].loc[dados.waterfront==1].loc[dados.bedrooms==3].count()

# R14: Existem 64 imóveis com vista para o mar e 3 quartos.

waterfront    64
dtype: int64

In [57]:
# P15: Das casas com mais de 300 m² de sala de estar, quantas tem mais de 2 banheiros?
# Comando: Com o filtro da Pergunta(11), filtrar o atributo 'Qtd_banheiros' >= 2 e somar itens listados

dados[['sqft_living']].loc[dados.sqft_living>3229.17].loc[dados.bathrooms>2].count()

# R15:  Existem 2201 imóveis com mais do que 300m² e mais do que 2 banheiros.

sqft_living    2201
dtype: int64

# 5.0 - Entrega

|# | Pergunta | Resposta | 
|:--:|:-- |:--|
|1| Quantas casas estão disponíveis para compra? | 21613 |
|2| Quantos atributos as casas possuem? | 19 |
|3| Quais são os atributos das casas? | Preço, Quartos, Banheiros, Área Construída, Área do terreno, Pavimentos, Beira-mar, Vista, Condição, Nota, Subsolo, Área de porão, Ano de construção, Ano de reforma, Código postal, Latitude, Longitude, Área construída dos 15 vizinhos mais próximos, Área do terreno dos 15 vizinhos mais próximos |
|4| Qual a casa mais cara ( casa com o maior valor de venda )? | Id:6762700020 Preço: U$ 7700000.00 |
|5| Qual a casa com o maior número de quartos? | Id:2402100895 Quartos: 33 |
|6| Qual a soma total de quartos do conjunto de dados? | 72854 |
|7| Quantas casas possuem 2 banheiros? | 1930 |
|8| Qual o preço médio de todas as casas no conjunto de dados? | U$ 540088.14 |
|9| Qual o preço médio de casas com 2 banheiros? | U$ 457889.72 |
|10| Qual o preço mínimo entre as casas com 3 quartos? | U$ 82000.00 |
|11| Quantas casas possuem mais de 300 m² na sala de estar? | 2258 |
|12| Quantas casas tem mais de 2 andares? | 782 |
|13| Quantas casas tem vista para o mar? | 163 |
|14| Das casas com vista para o mar, quantas tem 3 quartos? | 64 |
|15| Das casas com mais de 300 m² de sala de estar, quantas tem mais de 2 banheiros? | 2201 |