# House Rocket 2.0

## Agenda
1. Contexto
2. Demanda
3. Planejamento da solução
4. Solução

## 1.0 - Contexto

### 1.1 - EMPRESA: 
House Rocket

### 1.2 - MODELO DE NEGÓCIO: 
Compra casas com preço baixo e revendo com o preço mais alto.

### 1.3 - QUAL É O DESAFIO: 
Encontrar bons negócios dentro do portfólio disponível, ou seja, encontrar casas com preço baixo, em ótima localização e
que tenham um ótimo potencial de revenda por um preço mais alto.

## 2.0 - Demanda

1. Qual a data do imóvel mais antigo no portfólio?
2. Quantos imóveis possuem o número máximo de andares?
3. Criar uma classificação para o imóveis, separando-os em
baixo e alto padrão, de acordo com preço.
   * Acima de R$ 540.000 -> alto padrão
   * Abaixo de R$ 540.000 -> baixo padrão

4. Relatório ordenado pelo preço e contento as seguintes informações:
    * id do imóvel;
    * data que o imóvel ficou disponível para compra;
    * o número de quartos;
    * o tamanho total to terreno;
    * o preço;
    * a classificação do imóvel( alto e baixo padrão )

5. Mapa indicando onde as casas estão localizadas geograficamento.

6. Crie uma nova coluna chamada: “house_age” 
   1. Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
   2. Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house'

7. Crie uma nova coluna chamada: “dormitory_type”
   1. Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
   2. Se o valor da coluna “bedrooms” for igual a 2 =>  'apartament’
   3. Se o valor da coluna “bedrooms” for maior que 2 => ‘house’

8. Crie uma nova coluna chamada: “condition_type”
   1. Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’;
   2. Se o valor da coluna “condition” for igual à 3 ou 4 => 'regular';
   3. Se o valor da coluna “condition” for igual à 5 => ‘good’

9. Modifique o TIPO a Coluna “condition” para STRING

10. Delete as colunas: “sqft_living15” e “sqft_lot15”

11. Modifique o TIPO a Coluna “yr_build” para DATE

12. Modifique o TIPO a Coluna “yr_renovated” para DATE

13. Qual a data mais antiga de construção de um imóvel?

14. Qual a data mais antiga de renovação de um imóvel?

15. Quantos imóveis tem 2 andares?

16. Quantos imóveis estão com a condição igual a “regular” ?

17. Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?
18. Quantos imóveis estão com a condição igual a “good” e são “new_house”?
19. Qual o valor do imóvel mais caro do tipo “studio” ?
20. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?
21. Qual o maior número de quartos que um imóveis do tipo “house”possui ?
22. Quantos imóveis “new_house” foram reformados no ano de 2014?
23. 
24. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    1. Direto pelo nome das colunas.
    2. Pelos Índices.
    3. Pelos Índices das linhas e o nome das colunas
    4. Índices Booleanos
25. Salve um arquivo .csv com somente as colunas do item 10 ao 17.
26. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

## 3.0 - Planejamento da solução

### 3.1 - Produto final
* E-mail + 2 anexos
  * E-mail: Texto -> Pergunta | Resposta
  * Anexo1: Relatório .csv
  * Anexo2: Mapa em html
### 3.2 - Ferramentas
* Python 3.9
* Notebook
* VSCode

### 3.3 - Processo
1. Qual a data do imóvel mais antigo no portfólio?
>     1.1 Ordenar dataset, pela coluna data, de forma crescente;
>
>     1.2 O primeiro elemento é o mais antigo.

2. Quantos imóveis possuem o número máximo de andares?
>     2.1 Criar lista, de valores únicos, com o número de andares;
>
>     2.2 Filtrar do dataset os elementos com o número máximo de andares igual ao maior valor da lista do item (2.1);
>
>     2.3 Contar a quantidade de elementos filtrados em (2.2).


3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
   * Acima de R$ 540.000 -> alto padrão
   * Abaixo de R$ 540.000 -> baixo padrão
>     3.1 Criar coluna com atributo 'padrao' e valores 'baixo';
>
>     3.2 Filtrar dataset pela coluna 'price' com valores > R$ 540000
>
>     3.3 Atribuir na coluna 'padrao' dos elementos filtrados, a classificação 'alto';


4. Relatório ordenado pelo preço e contento as seguintes informações:
    * id do imóvel;
    * data que o imóvel ficou disponível para compra;
    * o número de quartos;
    * o tamanho total to terreno;
    * o preço;
    * a classificação do imóvel( alto e baixo padrão )
>     4.1 Ordenar dataset pelo preço;
>
>     4.2 Filtrar as colunas listadas na questão;
>
>     4.3 Salvar no formato .csv.


5. Mapa indicando onde as casas estão localizadas geograficamento.
>     5.1 Descobrir biblioteca de manipulação de mapas;
>
>     5.2 Aprender a utilizar as funções para plotar o mapa solicitado;
>
>     5.3 Salvar o mapa no formato .html.


6. Crie uma nova coluna chamada: “house_age” 
   1. Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
   2. Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house'
>     6.1 Criar nova coluna 'house_age' e iniciar com o dado 'old_house';
> 
>     6.2 Converter a coluna 'date' no formato de data:hora;
> 
>     6.3 Filtrar dataset pela coluna 'date' para valores maiores do que '2014-01-01' 
>
>     6.4 Atribuir 'new_house' no atributo 'house_age' nos valores filtrados em (6.3).

7. Crie uma nova coluna chamada: “dormitory_type”
   1. Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
   2. Se o valor da coluna “bedrooms” for igual a 2 =>  'apartament’
   3. Se o valor da coluna “bedrooms” for maior que 2 => ‘house’
>     7.1 Criar nova coluna 'dormitory_type' e inicializar com 'house';
> 
>     7.2 Filtrar dataset pela coluna 'bedrooms' para valor igual a 1;
> 
>     7.3 Setar coluna 'bedrooms' filtrados com 'studio';
> 
>     7.4 Filtrar dataset pela coluna 'bedrooms' para valor igual a 2;
> 
>     7.5 Setar coluna 'bedrooms' filtrados com 'apartment'.
> 

8. Crie uma nova coluna chamada: “condition_type”
   1. Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’;
   2. Se o valor da coluna “condition” for igual à 3 ou 4 => 'regular';
   3. Se o valor da coluna “condition” for igual à 5 => ‘good’
>     8.1 Criar coluna 'condition_type' inicializando com 'good'; 
> 
>     8.2 Filtrar dataset pela coluna 'condition' para valor <= 2;
> 
>     8.3 Setar coluna 'condition' filtrada com o valor 'bad';
> 
>     8.4 Filtrar dataset pela coluna 'condition' para valor entre 3 e 4;
> 
>     8.5 Setar coluna 'condition' filtrada com o valor 'regular'.
> 

9. Modifique o TIPO a Coluna “condition” para STRING
>     9.1 Alterar tipo da coluna 'condition' para str;


10.  Delete as colunas: “sqft_living15” e “sqft_lot15”
>     10.1 Deletar as colunas 'sqft_living15' e 'sqft_lot15'.


11.  Modifique o TIPO a Coluna “yr_build” para DATE
>     11.1 Alterar o tipo de dado da coluna 'yr_build' para 'date'.

12.  Modifique o TIPO a Coluna “yr_renovated” para DATE
>     12.1 Alterar o tipo de dado da coluna 'yr_renovated' para 'date.

13.  Qual a data mais antiga de construção de um imóvel?
>     13.1 Filtrar pela coluna 'yr_build';
>
>     13.2 Ordenar de forma crescente;
>
>     13.3 O primeiro item da ordenação é o mais antigo de construção.

14.  Qual a data mais antiga de renovação de um imóvel?
>     14.1 Filtrar pela coluna 'yr_renovated';
>
>     14.2 Ordenar de forma crescente;
>
>     14.3 O primeiro item da ordenação é o mais antigo de construção.


15.  Quantos imóveis tem 2 andares?
>     15.1 Filtrar pela coluna de número de andares;
>
>     15.2 Listar dataset aplicando o filtro (15.1).


16.  Quantos imóveis estão com a condição igual a “regular” ?
>     16.1 Filtrar dataset pela coluna 'condition'
>
>     16.2 Contar elementos do filtro (16.1).


17.  Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?
>     17.1 Criar condições de busca;
>
>     17.2 Filtrar utilizando condições (17.1).

18.  Quantos imóveis estão com a condição igual a “good” e são “new_house”?
>     18.1 Criar condições de busca;
>
>     18.2 Filtrar utilizando condições (18.1).


19. Qual o valor do imóvel mais caro do tipo “studio” ?
>     19.1 Criar condições de busca;
>
>     19.2 Filtrar utilizando condições (19.1).


20. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?
>     20.1 Criar condições de busca;
>
>     20.2 Filtrar utilizando condições (20.1);
>
>     20.3 Contar elementos filtrados.


21. Qual o maior número de quartos que um imóveis do tipo “house”possui ?
>     21.1 Criar condição para o tipo 'house';
>
>     21.2 Filtrar pela condição (21.1);
>
>     21.3 Listar em ordem decrescente pela quantidade de quartos;
>
>     21.4 O mrimeiro item listado é a resposta.

22. Quantos imóveis “new_house” foram reformados no ano de 2014? 
>     22.1 Criar condições para o tipo 'new_house' e casas reformadas em 2014;
>
>     22.2 Filtrar pelas condições (22.1);
>
>     22.3 Contar elementos filtrados.


23. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    1. Direto pelo nome das colunas.
    2. Pelos Índices.
    3. Pelos Índices das linhas e o nome das colunas
    4. Índices Booleanos


24. Salve um arquivo .csv com somente as colunas do item 10 ao 17.


25. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”

## 4.0 - Solução

#### Importação de bibliotecas

In [23]:
import pandas as pd

#### Carregamento de dataset

In [24]:
dados = pd.read_csv('datasets/kc_house_data.csv')
dados.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

#### Lista de colunas - atributos

In [25]:
dados.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

#### Tipos de dados e conversões

In [26]:
dados.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [27]:
dados['date'] = pd.to_datetime(dados['date'])
dados.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

#### 1. Qual a data do imóvel mais antigo no portfólio?
>     1.1 Ordenar dataset, pela coluna data, de forma crescente;
>
>     1.2 O primeiro elemento é o mais antigo.

In [45]:
cols = ['date']
mais_antigo = dados[cols].sort_values('date').min()
mais_antigo

date   2014-05-02
dtype: datetime64[ns]

2. Quantos imóveis possuem o número máximo de andares?
>     2.1 Criar lista, de valores únicos, com o número de andares;
>
>     2.2 Filtrar do dataset os elementos com o número máximo de andares igual ao maior valor da lista do item (2.1);
>
>     2.3 Contar a quantidade de elementos filtrados em (2.2).


3. Criar uma classificação para o imóveis, separando-os em baixo e alto padrão, de acordo com preço.
   * Acima de R$ 540.000 -> alto padrão
   * Abaixo de R$ 540.000 -> baixo padrão
>     3.1 Criar coluna com atributo 'padrao' e valores 'baixo';
>
>     3.2 Filtrar dataset pela coluna 'price' com valores > R$ 540000
>
>     3.3 Atribuir na coluna 'padrao' dos elementos filtrados, a classificação 'alto';


4. Relatório ordenado pelo preço e contento as seguintes informações:
    * id do imóvel;
    * data que o imóvel ficou disponível para compra;
    * o número de quartos;
    * o tamanho total to terreno;
    * o preço;
    * a classificação do imóvel( alto e baixo padrão )
>     4.1 Ordenar dataset pelo preço;
>
>     4.2 Filtrar as colunas listadas na questão;
>
>     4.3 Salvar no formato .csv.


5. Mapa indicando onde as casas estão localizadas geograficamento.
>     5.1 Descobrir biblioteca de manipulação de mapas;
>
>     5.2 Aprender a utilizar as funções para plotar o mapa solicitado;
>
>     5.3 Salvar o mapa no formato .html.


6. Crie uma nova coluna chamada: “house_age” 
   1. Se o valor da coluna “date” for maior que 2014-01-01 => ‘new_house’
   2. Se o valor da coluna “date” for menor que 2014-01-01 => ‘old_house'
>     6.1 Criar nova coluna 'house_age' e iniciar com o dado 'old_house';
> 
>     6.2 Converter a coluna 'date' no formato de data:hora;
> 
>     6.3 Filtrar dataset pela coluna 'date' para valores maiores do que '2014-01-01' 
>
>     6.4 Atribuir 'new_house' no atributo 'house_age' nos valores filtrados em (6.3).

7. Crie uma nova coluna chamada: “dormitory_type”
   1. Se o valor da coluna “bedrooms” for igual à 1 => ‘studio’
   2. Se o valor da coluna “bedrooms” for igual a 2 =>  'apartament’
   3. Se o valor da coluna “bedrooms” for maior que 2 => ‘house’
>     7.1 Criar nova coluna 'dormitory_type' e inicializar com 'house';
> 
>     7.2 Filtrar dataset pela coluna 'bedrooms' para valor igual a 1;
> 
>     7.3 Setar coluna 'bedrooms' filtrados com 'studio';
> 
>     7.4 Filtrar dataset pela coluna 'bedrooms' para valor igual a 2;
> 
>     7.5 Setar coluna 'bedrooms' filtrados com 'apartment'.
> 

8. Crie uma nova coluna chamada: “condition_type”
   1. Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’;
   2. Se o valor da coluna “condition” for igual à 3 ou 4 => 'regular';
   3. Se o valor da coluna “condition” for igual à 5 => ‘good’
>     8.1 Criar coluna 'condition_type' inicializando com 'good'; 
> 
>     8.2 Filtrar dataset pela coluna 'condition' para valor <= 2;
> 
>     8.3 Setar coluna 'condition' filtrada com o valor 'bad';
> 
>     8.4 Filtrar dataset pela coluna 'condition' para valor entre 3 e 4;
> 
>     8.5 Setar coluna 'condition' filtrada com o valor 'regular'.
> 

9. Modifique o TIPO a Coluna “condition” para STRING
>     9.1 Alterar tipo da coluna 'condition' para str;


10.  Delete as colunas: “sqft_living15” e “sqft_lot15”
>     10.1 Deletar as colunas 'sqft_living15' e 'sqft_lot15'.


11.  Modifique o TIPO a Coluna “yr_build” para DATE
>     11.1 Alterar o tipo de dado da coluna 'yr_build' para 'date'.

12.  Modifique o TIPO a Coluna “yr_renovated” para DATE
>     12.1 Alterar o tipo de dado da coluna 'yr_renovated' para 'date.

13.  Qual a data mais antiga de construção de um imóvel?
>     13.1 Filtrar pela coluna 'yr_build';
>
>     13.2 Ordenar de forma crescente;
>
>     13.3 O primeiro item da ordenação é o mais antigo de construção.

14.  Qual a data mais antiga de renovação de um imóvel?
>     14.1 Filtrar pela coluna 'yr_renovated';
>
>     14.2 Ordenar de forma crescente;
>
>     14.3 O primeiro item da ordenação é o mais antigo de construção.


15.  Quantos imóveis tem 2 andares?
>     15.1 Filtrar pela coluna de número de andares;
>
>     15.2 Listar dataset aplicando o filtro (15.1).


16.  Quantos imóveis estão com a condição igual a “regular” ?
>     16.1 Filtrar dataset pela coluna 'condition'
>
>     16.2 Contar elementos do filtro (16.1).


17.  Quantos imóveis estão com a condição igual a “bad”e possuem “vista para água” ?
>     17.1 Criar condições de busca;
>
>     17.2 Filtrar utilizando condições (17.1).

18.  Quantos imóveis estão com a condição igual a “good” e são “new_house”?
>     18.1 Criar condições de busca;
>
>     18.2 Filtrar utilizando condições (18.1).


19. Qual o valor do imóvel mais caro do tipo “studio” ?
>     19.1 Criar condições de busca;
>
>     19.2 Filtrar utilizando condições (19.1).


20. Quantos imóveis do tipo “apartment” foram reformados em 2015 ?
>     20.1 Criar condições de busca;
>
>     20.2 Filtrar utilizando condições (20.1);
>
>     20.3 Contar elementos filtrados.


21. Qual o maior número de quartos que um imóveis do tipo “house”possui ?
>     21.1 Criar condição para o tipo 'house';
>
>     21.2 Filtrar pela condição (21.1);
>
>     21.3 Listar em ordem decrescente pela quantidade de quartos;
>
>     21.4 O mrimeiro item listado é a resposta.

22. Quantos imóveis “new_house” foram reformados no ano de 2014? 
>     22.1 Criar condições para o tipo 'new_house' e casas reformadas em 2014;
>
>     22.2 Filtrar pelas condições (22.1);
>
>     22.3 Contar elementos filtrados.


23. Selecione as colunas: “id”, “date”, “price”, “floors”, “zipcode” pelo método:
    1. Direto pelo nome das colunas.
    2. Pelos Índices.
    3. Pelos Índices das linhas e o nome das colunas
    4. Índices Booleanos


24. Salve um arquivo .csv com somente as colunas do item 10 ao 17.


25. Modifique a cor dos pontos no mapa de “pink” para “verde-escuro”